.friendList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #7b7979;
    margin: 10px auto;
  }
  
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .online {
    background-color: green;
  }
  
  .offline {
    background-color: red;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .name {
    margin: 0;
  }